<% if products.empty? %>
  <%= t(:no_products_found) %>
<% elsif params.key?(:keywords) %>
  <h6 class="search-results-title"><%= t(:search_results, :keywords => h(params[:keywords])) %></h6>
<% end %>

<% if products.any? %>
<ul id="products" class="inline product-listing welcome-gallery" data-hook>
  <% products.each_with_index do |product, index| %>
    <% if product.on_display? %>
      <div id="product_<%= product.id %>" class="block product" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
        <div class="product-image">
          <%= link_to small_image(product, :itemprop => "image"), product, :itemprop => 'url' %>
        </div>
      </div>
    <% end %>
    <% if index == 2 || index == 3 || index == 4 || index == 7 %>
      <% case index %>
      <% when 2 %>
        <%= link_to spree.root_path do %>
          <div class="block welcome-nav" id="logo"><h1>AngelWood</h1></div>
        <% end %>
      <% when 3 %>
        <%= link_to spree.root_path do %>
          <div class="block welcome-nav" id="gallery"><h1>Gallery</h1></div>
        <% end %>
      <% when 4 %>
        <%= link_to main_app.contact_url do %>
          <div class="block welcome-nav" id="contact"><h1>Contact</h1></div>
        <% end %>
      <% when 7 %>
      <% else %>
      <div class="block blank_space"><h1>We have an incorrect index within the case switch</h1></div>
      <% end %>
    <% else %>
      <div class="block blank_space"></div>
    <% end %>
  <% end %>
</ul>
<% end %>